.title {
  font-size: 20px;
}
p {
  font-family: verdana;
  font-size: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;

  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  padding: 0 10% 3% 10%;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #ececec;
}

.footer_text{
  font-size: 12px;
}

body {
  background-color: #d3d3d3;
}
